<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<form class="formbuilder">
<fieldset>
    <legend>Attachment details</legend>
    <div>
      <p>
        <label for="student_application_attachment1">Attachment 1 name</label>
        <a href="#">1</a>
      </p>
      <p>
        <label for="student_application_attachment2">Attachment 2 name</label>
        <a href="#">1</a>
      </p>
      <p>
        <label for="student_application_attachment3">Attachment 3 name</label>
        <a href="#">1</a>
      </p>
    </div>
  </fieldset>
  <fieldset>
    <legend>Principals Feedback</legend>
    <p>
      <label>Support the student application: <em>*</em></label>
      <label></label>
    </p>
  </fieldset>
</form>