<h1>Editing comment</h1>

<%= render 'form' %>

<div class="buttons  form-buttons"><%= link_to 'Show', :class => "submit-button button", @comment %> |
<%= link_to 'Back', comments_path, :class => "submit-button button" %></div>
