<fieldset>
    <legend>Attachment details</legend>
    <div>
      <% student.student_files.each do |attachment| %>
         <label><%= attachment.display_name %></label>
         <a href="/data/<%= attachment.name %>"><%= attachment.name %></a>
      <% end %>
    </div>
</fieldset>